<%- include('../web-layouts/header') %>
  <style>
    body {
      color: #211d2b;
      font-size: 1.1rem;
    }

    .bg-default {
      background-color: #ffffff !important;
    }

    .header_link {
      color: #3c3c3b !important;
      text-decoration: none !important;
      font-size: 15px;
      position: relative;
      top: 2px;
    }

    .background_gradient {
      background: linear-gradient(#ee5735, #261f44);
      height: 590px;
    }

    .banner_light_bg {
      background-color: #f6f6f6;
    }

    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
    }

    .logo_name {
      color: #fff;
      font-size: 2rem;
      margin-bottom: 0;
      font-weight: 800;
      font-style: italic;

    }

    .tagline_name {
      color: #fff;
      font-size: .8rem;
      margin-left: 30%;
      margin-top: -26px;
      font-weight: 700;
      letter-spacing: 2.1px;

    }

    .header .navbar-default.navbar {
      padding: 10px 0;
    }

    .slick-slide img {
      display: block;
    }

    .u-clients {
      width: 190px;
      margin-left: auto;
      margin-right: auto;
    }

    .rounded-bottom {
      text-align: justify;
    }

    .border-1:hover {
      position: relative;
      z-index: 1;
      -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
      box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
      border: 0;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }

    h4.heading {
      font-weight: 800;
      font-size: 20px;
    }

    span.sprite-image {
      width: 90px;
      background: url(assets/images/advantages-sprite.webp) no-repeat;
      height: 90px;
      display: inline-block;
      background-size: 105%;
      margin: 20px 0 0 10px;
    }

    span.sprite-image.lowest-price {
      background-position: 0 -315px;
    }

    span.sprite-image.reliable {
      background-position: 0 -102px;
    }

    span.sprite-image.claim-support {
      background-position: 0 0;
    }

    span.sprite-image.happy-help {
      background-position: 0 -206px;
    }

    .bgclr {
      background: #f7f9ff;
    }

    .bg-shape:after {
      position: absolute;
      background: none;
      background-size: none;
      bottom: 0px;
      height: 0px;
    }
  </style>

  <!-- hero section -->
  <div class="bg-cover bg-shape" style=" background-image:linear-gradient(180deg, rgb(30 24 53 / 68%) 0%, rgb(30 24 53 / 76%) 90.16%),
    url(../frontend/assets/images/post-hero-img.jpeg); ">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6 col-md-12 col-12">
          <div class="py-lg-15 py-12 text-white text-center">
            <h1 class=" text-white mb-3 display-4">
              <%= title%>
            </h1>
            <!-- <p class="mb-0 lead text-light">
                      Mitr sewa team blogs contents are here. Its very nice and good presentation for you all. Thanks for visiting here... Stay tuned here and get updates.
                     </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- about  -->
  <div class="pt-12 pb-12 ">
    <div class="container">
      <div class="row">
        <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="mb-4">
            <img src="../frontend/assets/images/franchisebusiness.jpeg" alt="" class="img-fluid rounded mb-2 mt-3 w-100">
            <br>
            <br>
            
            <h3 class="mb-3">How to register online for Mitr Sewa Jan Seva
                Kendra!</h3>
            <p>
                Then one question that may bother you the most is which business idea will be good for you to start.That has the lowest initial cost and has high returns. When you search the internet for this question, then probably you will get various answers for this.
            </p>
            <p>
                One of the best answers is to go for the franchise business model as it has various benefits over starting from scratch. Let&#39;s find out the various benefits of a franchising business model.
            </p>
            

            <h3 class="mb-3">Why go for the Franchise business model?</h3>
            <p>The franchise business model is perfect if you own a small business. Because many small businesses do
                not have enough funds and strategies. However, on the other hand, a franchise business model allows
                companies to grow using other&#39;s resources and money apart from the initial cost.
            </p>
            <p>
                A second most important factor that one should go for the franchise business model is a solid strategy for growth and expansion. The franchiser is usually a big brand that is led by industry leaders. Hence you also get a chance to work directly under these great leaders, and there is ample learning opportunity.
            </p>
            <p>
                If you are in the market, then you cannot ignore the importance of training. With franchising, this responsibility is bear by the franchiser. So, you and your employee get access to world-class facilities and training from industries best brain. This will improve your overall working efficiency.
            </p>
            <p>
                <strong>Innovation:</strong> As the success of your business directly affects the franchisees. Therefore they took a keen interest in developing new ways to improve business.
            </p>
            <p>
                Franchisee also manages expenses by keeping an eye on the labor cost, theft, or any other operational cost and crosses the said limit. Then it is the responsibility of the franchisee to brings these figures to set values.
            </p>
            <p>Some benefits of franchising business models:</p>
            <ul>
                <li>Advertising</li>
                <li> Offering Experience</li>
                <li> Reputation</li>
                <li> Support</li>
            </ul>

            <p>If you also want to start your own business, then Mitr Sewa brings you the perfect startup pack. Our franchise business model is very cost-effective and can be started with almost no investment. On the other hand, talking about the return, there are seven different services like women empowerment, Bank Mitr, Mitr Suvidha, Mitr Digi Portal from where, wherein huge profits, by providing some valuable services to your customers. We also have our own e-commerce website and have tie-ups with various manufacturing units.
            </p>
            <p>
                One major benefit of Mitr Sewa over other business models is our commission rates which is one of the highest in the industry.
            </p>
            <p>
                To take our franchise, you can contact our team or can visit your nearest Mitr Sewa Office. You can also get in touch with our representative on +915224300858.
            </p>
            
          </div>

        </div>
      </div>
    </div>
  </div>
  <%- include('../web-layouts/footer') %>