<%- include('./web-layouts/header') %>
<style type="text/css">
    span.sprite-image {
      width: 90px;
      background: url(../frontend/assets/images/advantages-sprite.webp) no-repeat;
      height: 90px;
      display: inline-block;
      background-size: 105%;
      margin: 20px 0 0 10px;
    }

    span.sprite-image.lowest-price {
      background-position: 0 -315px;
    }

    span.sprite-image.reliable {
      background-position: 0 -102px;
    }

    span.sprite-image.claim-support {
      background-position: 0 0;
    }

    span.sprite-image.happy-help {
      background-position: 0 -206px;
    }
    .btn-group-sm>.btn, .btn-sm {
    padding: .48rem .945rem;
    font-size: .975rem;}
</style>
  <!-- hero section -->
  <div class=" banner_light_bg container-fluid">
    <div class="py-lg-15 pt-14 pb-10 bg-cover background_gradient">
      <div class="container">
        <div class="row ">
          <div class="col-xl-6 col-lg-8 col-md-8 col-12">
            <div class=" ">
              <h1 class=" text-white mb-3 display-4">
                Financial Inclusion
              </h1>
              <p class="mb-4 pr-lg-12 text-white lead">
                Enabling farmers to double their income, Help of Financial Technology, Ensuring food availability,
                Enabling and handholding Bank Mitr, Hitherto excluded sections of society, Through Digital Payments &
                Women Empowerment

              </p>
              <!-- <a href="#!" class="btn btn-primary ">Learn More</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- about  -->

  <!-- Our Services -->
  <div class="pb-lg-4">
    <!-- style="background:linear-gradient(360deg, #f6f6f7 0%, rgba(255, 255, 255, 0) 102.23%), #F4F4F5" -->
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6 col-md-12 col-12 mt-lg-8">
          <div class="mb-8 text-center">
            <h2 class="h1 mb-3">
              Experience Our Services
            </h2>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-12 mt-lg-2">
          <div class="mb-4 text-center">
            <a href="#">
              <img src="../frontend/assets/images/women_empormwent.svg" alt="" class="img-fluid rounded-top"
                style="height: 262px;" /></a>
            <div class="p-4 bg-white rounded-bottom">
              <a href="#!">
                <h3 class="mb-3 h4">Women Empowerment</h3>
              </a>
              <p>
                Enabling & handholding Bank Mitr & other enablers by organizing all Bank Mitras. Providing development,
                handholding, insurance & financial, and other humanitarian support.
              </p>
              <!-- <a href="/pages/events.html" class="btn-primary-link">Explore All Events</a> -->
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-12 mt-lg-2">
          <div class="mb-4 text-center">
            <a href="#">
              <img src="../frontend/assets/images/bima.svg" alt="" class="img-fluid rounded-top" style="height: 262px;" /></a>
            <div class="p-4 bg-white rounded-bottom">
              <a href="#!">
                <h3 class="mb-3 h4">Best Bima & Insurance</h3>
              </a>
              <p>
                When buy insurance you get financial safety. Our promise of simplifying advanced insurance T&C, fast
                stress-free claims & being present for you within the rough of times.
              </p>
              <!-- <a href="/pages/events.html" class="btn-primary-link">Explore All Events</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mt-lg-2">
          <div class="mb-4 text-center">
            <a href="#">
              <img src="../frontend/assets/images/banking.svg" alt="" class="img-fluid rounded-top" style="height: 262px;" /></a>
            <div class="p-4 bg-white rounded-bottom">
              <a href="#!">
                <h3 class="mb-3 h4">Hand Holding Bank Mitr's</h3>
              </a>
              <p>
                Enabling & handholding Bank Mitr & other enablers by organizing all Bank Mitras. Providing development,
                handholding, insurance & financial, and other humanitarian support.
              </p>
              <!-- <a href="/pages/events.html" class="btn-primary-link">Explore All Events</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mt-lg-2">
          <div class="mb-4 text-center">
            <a href="#!">
              <img src="../frontend/assets/images/ecomm.svg" alt="" class="img-fluid rounded-top" style="height: 262px;" /></a>
            <div class="p-4 bg-white rounded-bottom">
              <a href="#!">
                <h3 class="mb-3 h4">E-Commerce Portal</h3>
              </a>
              <p>
                We Have the Products You Want to Buy on our portal. View Our Wide Variety of items Today. Many Sellers,
                Businesses using our Products and Services to Reach New Customers.
              </p>
              <!-- <a href="/pages/events.html" class="btn-primary-link">Explore All Events</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mt-lg-2">
          <div class="mb-4 text-center">
            <a href="#!">
              <img src="../frontend/assets/images/easy_store.svg" alt="" class="img-fluid rounded-top" style="height: 262px;" /></a>
            <div class="p-4 bg-white rounded-bottom">
              <a href="#!">
                <h3 class="mb-3 h4">Mitr Easy Store </h3>
              </a>
              <p>
                Referral & customer creation for E-Commerce companies.
                Referral & customer creation for E-Commerce companies. Referral & customer creation.
              </p>
              <!-- <a href="/pages/events.html" class="btn-primary-link">Explore All Events</a> -->
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-12 mt-lg-2">
          <div class="mb-4 text-center">
            <a href="#!">
              <img src="../frontend/assets/images/digi_portal.svg" alt="" class="img-fluid rounded-top"
                style="height: 262px;" /></a>
            <div class="p-4 bg-white rounded-bottom">
              <a href="#!">
                <h3 class="mb-3 h4">Mitr Digi Portal </h3>
              </a>
              <p>
                Own portal for AEPS, ATM, DMT, PAN, Voter ID, Cash Management, Insurance, recharge, bill payment,
                train/bus/air/hotel booking etc. bill payment, train/bus/air/hotel, etc.
              </p>
              <!-- <a href="/pages/events.html" class="btn-primary-link">Explore All Events</a> -->
            </div>
          </div>
        </div>


        <!-- <div class="col-lg-4 col-md-6 col-12">
                    <div class="mb-4">
                        <a href="#!">
                            <img src="/assets/images/ceo-program-2.jpg" alt="" class="img-fluid rounded-top" /></a>
                        <div class="p-4 border bg-white rounded-bottom">
                            <a href="#!">
                                <h3 class="mb-3 h4">CEO-Entrepreneur Programs</h3>
                            </a>
                            <p>
                                A motivational Programs is program intended to motivate or inspire your business and personal life.
                            </p>
                            <a href="/pages/program-list.html" class="btn-primary-link">Explore All Program</a>
                        </div>
                    </div>
                </div> -->


      </div>
    </div>
  </div>


  <div class="pb-lg-6 py-8 bg-shape bgclr">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="mb-8">
            <h2 class="h1 mb-3">Mitr Bima & Insurance Advantage</h2>
            <p class="lead">
              When buy insurance you get financial safety. Our promise of simplifying advanced insurance Terms and
              Conditions, fast stress-free claims & being present for you within the rough of times.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="container mb-lg-12" style="font-size:15px;">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card mb-lg-0 mb-4 border-1">
            <div class="card-body p-4 ">
              <span class="sprite-image lowest-price"></span>
              <h4 class="heading">Lowest Price</h4>
              <p class="mb-0">Guaranteed</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card mb-lg-0 mb-4 border-1">
            <div class="card-body p-4">
              <span class="sprite-image reliable"></span>
              <h4>100% Reliable</h4>
              <p class="mb-0">Keeping customers first</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card mb-lg-0 mb-4 border-1">
            <div class="card-body p-4">
              <span class="sprite-image claim-support"></span>
              <h4>Claims Support</h4>
              <p class="mb-0">Automated & stress-free</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card mb-lg-0 mb-4 border-1">
            <div class="card-body p-4">
              <span class="sprite-image happy-help"></span>
              <h4>Happy to Help</h4>
              <p class="mb-0">Every day of the week</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="py-7 pt-lg-12 pb-lg-8">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
          <div class="mb-8 text-center">
            <h2 class="mb-3 h1">
            Projection of MitrSewa & Mitr Sewak
            </h2>
            <p class="px-lg-10 lead">
              Mitrsewa works with India’s top entrepreneurs, Mitr Sewa, and companies to dramatically grow their
              business, develop their people, and elevate their own performance.
            </p>
          </div>
          <!-- conters -->
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="mb-lg-4 mb-0 text-center px-4">
                <h4 class="h2">6,00,000+</h4>
                <span>Mitrsewak Working</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="mb-lg-4 mb-0 text-center  px-5">
                <h4 class="h2">25+</h4>
                <span>States</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="mb-lg-4 mb-0 text-center  px-5">
                <h4 class="h2">100+</h4>
                <span>Million INR Existing</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-lg-12 pb-lg-12 py-8 bg-shape" style="
    background-color: #ebddff40!important;
">
    <div class="container">
      <div class="row">
        <div class="mb-5">
          <h2 class="h1 mb-3">Who we are </h2>
        </div>

        <div class="container-fluid mb-8">
          <div class="row d-flex align-items-center ">
            <!-- <div class="col-lg-8 col-md-12 col-12 pl-lg-0">
                  <div>
                      <img src="../frontend/assets/images/hero-slide-2.jpg" alt="" class="img-fluid">
                  </div>
              </div> -->
            <div class="col-lg-12 col-md-12 col-12 pl-lg-0">
              <!-- <div class="card  border-0 shadow mt-xl-n24 mt-n5 mt-lg-n23"> -->
              <!-- <div class="card-body p-7 border-top border-primary border-top-4 rounded-top"> -->
              <!-- <h3 class="mb-4">
                            Leading BC company, experience of handling 13000 Banking Outlets of 23+ banks and 12000 retail BC network, 25000 PDS owners.
                          </h3> -->
              <p class="text-justify">
                Prioritizing social & financial development, authenticity, trust, and honesty are some core principles
                that led to the foundation of MSPL. MSPL is a brainchild of a group of experienced bankers who have
                started this company with billions of hopes and dreams, intending to bridge the digital, financial &
                Social gap between India's rural & urban sectors and the well-off & excluded section of the society.
              </p>

              <p class="text-justify">
                We focus on empowering women and unemployed youth to provide them skill development & employment
                opportunities and to promote the digitalization & financial inclusion ecosystem among society's most
                excluded and weaker sections of society so that even the last mile person may benefit from our services.
                We have created seven different social, financial & digital programs, and many more are in the offing.
                We also focused on developing the various aspects of farming & enhanced farm income, and creating equal
                employment opportunities for both men and women to become financially independent.

              </p>

              <p class="text-justify">
                Thus, Mitr Sewa Private Limited provides a complete social-economical business model that improves the
                people's economic status and helps them fulfill their dreams with the path of success and empowerment.
              </p>
              <p class="text-justify">
                Mitr Sewa, through its Mitr Sewa Kendra, delivers various government and non-government business
                services to citizens, especially in rural India. Our strategy is to create a robust and robust Mitr Sewa
                network spanning India, irrespective of religion, demographic, linguistic, and cultural diversity.
              </p>
              <!-- <p class="text-dark ">
                              <span class="mr-2">Contact us</span><span>call 0522-430-0858</span>
                          </p> -->
              <!-- <a href="about-me.html" class="btn btn-primary">Read More About us</a> -->
              <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
        <!-- features -->
      </div>
    </div>
  </div>


  <div class="py-7 pt-lg-8 pb-lg-5">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
          <div class="mb-10 text-center">
            <h2 class="mb-3 h1">VISION AND MISSION</h2>
            <p class="px-lg-12 px-0 lead">
              Our Vision and Mission is to empower the excluded section of society to improve their economic and social status.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="left-slant-shape pt-lg-3 pb-lg-3 right-slant-shape py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- program thumbnail -->
          <div class="card mb-4 mt-n8 border-0">
            <div class="row no-gutters ">
              <div class="col-lg-12 col-md-12 col-12">
                <p class="text-justify">
                  Mitr Sewa, through its Mitr Sewa Kendra, delivers various government and non-government business
                  services to citizens, especially in rural India. Our strategy is to create a robust and robust Mitr
                  Sewa network spanning India, irrespective of religion, demographic, linguistic, and cultural
                  diversity. </p>

                <p>
                  Some key factors that will help you to make the decision:
                <ul>
                  <li>
                    <b>Women Empowerment- </b>We are dedicated to women's empowerment through self-help groups and
                    proper vocational training and skill development.
                  </li>
                  <li><b>Vocal for local -</b> we strongly support vocal for local through our e-commerce platform where
                    anyone can register and sell their products throughout India.</li>
                  <li>
                    <b>Highest Commission –</b> our commission rate is one of the best in the industry. The commission
                    for our services like Mitr Bima is much much higher than what is offered by our competitors.
                  </li>
                  <li>
                    <b>Commission on Small Transactions-</b> With our Bank Mitr services, you can get commissions on
                    small transactions and comparatively higher payouts that are not offered by any other companies or
                    banking outlets.
                  </li>
                  <li>
                    <b>Secured Futures & Social Security –</b> on entering our star performer club, your future is
                    secured through the national pension scheme and PPF accounts that the company opens on you.
                  </li>
                </ul>











                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="bg-light left-slant-shape py-12 pt-lg-10 pb-lg-14 right-slant-shape">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6 col-md-12 col-12">
          <div class="mb-8 text-center">
            <h2 class="h1 mb-3">Testimonials</h2>
            <!-- <p class="px-lg-8 px-0 lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In or
              dictum neque. In hac habitasse platea dictumst.
            </p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <!-- card -->
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card mb-lg-0 mb-4 border-0">
            <div class="card-body p-6">
              <!-- <h5 class="mb-4  font-italic">
                "I'm Living My Purpose, and I Couldn't Be Happier"
              </h5> -->
              <p class="mb-4">
                I have started my business with the help of Mitr Sewa without any financial contstraints and without having any knowledge initialy. Mitr Sewa provided me traning and skill development to run the business.  
              </p>
              <div class="d-flex align-items-center">
                <!-- <img src="../assets/images/avatar-8.png" alt="" class="rounded-circle mr-3 icon-lg"> -->
                <div class="">

                  <h5 class="mb-0 ">Shyam Lal Maurya</h5>
                  <span class="font-12">MitrSewak</span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card mb-lg-0 mb-4 border-0">
            <div class="card-body p-6">
              <!-- <h5 class="mb-4  font-italic">
                “He fills the soul and reminds us all why we’re here”
              </h5> -->
              <p class="mb-4">
                I was not having any employment. I came to know about MitrSewa activities and I joined as Mitrsewak. Presently I am earning 25K to 35K INR & i am able to take care of my family. Thanks to- "MitrSewa"
              </p>
              <div class="d-flex align-items-center">
                <!-- <img src="../assets/images/avatar-1.png" alt="" class="rounded-circle mr-3 icon-lg"> -->
                <div class="">
                  <h5 class="mb-0">Randhir Shukla</h5>
                  <span class="font-12">Mitrsewak </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="left-slant-shape pt-lg-3 pb-lg-3 right-slant-shape py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="offset-lg-3 col-lg-6 col-md-12 col-12">
          <div class="mb-8 text-center">
            <h2 class="h2 mt-5 mb-3">Frequently Asked Question</h2>
            <!-- <p class="px-lg-8 px-0 lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In or
              dictum neque. In hac habitasse platea dictumst.
            </p> -->
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- program thumbnail -->
          <div class="card mb-4 mt-n8 border-0">
            <div class="row no-gutters ">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="col-lg-10 mx-auto">
                  <!-- Accordion -->
                  <div id="accordionExample" class="accordion shadow">
            
                    <!-- Accordion item 1 -->
                    <div class="card">
                      <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">What is our motive behind helping people in rural areas?</a></h6>
                      </div>
                      <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">We look forward to assisting so that they can start their own business and become financially independent. We aim to empower the most excluded sections of society by providing employment opportunities, skilled development, and financial literacy. </p>
                        </div>
                      </div>
                    </div>
            
                    <!-- Accordion item 2 -->
                    <div class="card">
                      <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">How can I open Mitr Sewa Kendra?</a></h6>
                      </div>
                      <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">To become Mitr Sewak through Mitr Sewa Digi Portal, you have to contact your nearest Mitr Sewa office to get all the information on how you can become a mitr sewak and how much time is required for it. You can visit our website mitrsewa.com and fill the enquiry section to enable the mitr Sewa team to contact you.</p>
                        </div>
                      </div>
                    </div>
            
                    <!-- Accordion item 3 -->
                    <div class="card">
                      <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">How can we achieve financial Inclusion?</a></h6>
                      </div>
                      <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">Financial inclusion is one of the main objectives of Mitr Sewa Private Limited, which will be done through the digital mode and also through Mitr Sewak. One of the primary financial inclusion objectives is to double farmers’ income, women empowerment, and employment generation for unemployed youth.</p>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion item 4 -->
                    <div class="card">
                      <div id="headingfour" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Where is our Head Office?</a></h6>
                      </div>
                      <div id="collapsefour" aria-labelledby="headingfour" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">Financial inclusion is one of the main objectives of Mitr Sewa Private Limited, which will be done through the digital mode and also through Mitr Sewak. One of the primary financial inclusion objectives is to double farmers’ income, women empowerment, and employment generation for unemployed youth.</p>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion item 5 -->
                    <div class="card">
                      <div id="headingfive" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">How can people get all the information about the financial and technical assistance we are providing?</a></h6>
                      </div>
                      <div id="collapsefive" aria-labelledby="headingfive" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                          <p class="font-weight-light m-0">Financial inclusion is one of the main objectives of Mitr Sewa Private Limited, which will be done through the digital mode and also through Mitr Sewak. One of the primary financial inclusion objectives is to double farmers’ income, women empowerment, and employment generation for unemployed youth.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <%- include('./web-layouts/footer') %>
  <!-- <div class="pt-0 pt-lg-5 pb-5 pb-lg-14 bg-light mt-10">
    <div class="pt-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="text-center mb-10">
              <h3 class="h4">
                The best companies know when they're in good company.
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-6">
            <div class="mb-4 text-center">
              <img src="../frontend/assets/images/logo-airbnb.svg" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="mb-4 text-center">
              <img src="../frontend/assets/images/logo-digitalocean.svg" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="mb-4 text-center">
              <img src="../frontend/assets/images/logo-facebook.svg" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="mb-4 text-center">
              <img src="../frontend/assets/images/logo-discord.svg" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="mb-4 text-center">
              <img src="../frontend/assets/images/logo-intercom.svg" alt="">
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <div class="mb-4 text-center">
              <img src="../frontend/assets/images/logo-twitch.svg" alt="">
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div> -->
