<%- include('../layouts/header') %>
<%- include('../layouts/inner-leftmenu') %>
<style>
  .dev_added{background-color: #91fcb60f;}
  .container {
    position: relative;
    width: 1020px;
    margin: 0 auto;
}
.money-back-guarantee {
  cursor: pointer;
  text-align: center;
  padding: 1.812rem 0;
}
.money-back-guarantee .check svg {
    margin-top: 5px;
}
.check {
 
  background: #37ae2a;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 14px 85px rgb(55 174 42 / 47%), 0 9px 20px rgb(55 174 42 / 23%);
}
.check_disable{
  
  background: #cacedb;
  box-shadow: 0 14px 85px rgb(147 151 147 / 79%), 0 9px 20px rgb(234 235 234 / 23%);
}
</style>
  <div class="main-content-container container-fluid px-4">
    <div class="row">
      <div class="col-lg-10 mx-auto mt-4">
        <!-- Edit User Details Card -->
        <div class="card card-small edit-user-details mb-4">
          
          <div class="card-body p-0">
            <div class="border-bottom clearfix d-flex">
              <ul class="nav nav-tabs border-0 mt-auto mx-4 pt-2">
                <li class="nav-item ">
                  <a class="nav-link" href="javascript:void(0);">
                    Bank Details 
                    <% 
                      if(getUserData.kyc_status ==='approved'){ %>
                        <span class="card-post__category badge badge-pill badge-success">Approved</span>
                    <% }else if(getKYCData.pan_number !=null){ %>
                          <span class="card-post__category badge badge-pill badge-warning">Submitted</span>
                    <% }else{ %>
                        <span class="card-post__category badge badge-pill badge-danger">Pending</span>
                     <% } %>
                    
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link " href="javascript:void(0);">Upload ID
                    <%
                      if(getKYCData.bank_detail_status ==='approved'){ %>
                        <span class="card-post__category badge badge-pill badge-success">Approved</span>
                    <% }else if(getKYCData.kyc_status ==='submitted'){ %>
                        <span class="card-post__category badge badge-pill badge-warning">Submitted</span>
                    <% }else { %>
                      <span class="card-post__category badge badge-pill badge-danger">Pending</span>
                    <% } %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="javascript:void(0);">Choose Bank
                    <%
                    if(getUserData.payment_status ==='paid'){ %>
                      <span class="card-post__category badge badge-pill badge-success">Approved</span>
                  <% }else { %>
                    <span class="card-post__category badge badge-pill badge-danger">Pending</span>
                   <% } %>
                  </a>
                </li>
              </ul>
            </div>
            <form action="/members/makePayment" method="POST" class="py-4" name="frm">
             
              <div class="form-row form-group mx-4">
                <label for="">Choose Bank</label>
                <select name="bank_name" id="bank_name" class="form-control">
                  <option value="2000">Fino Payment Bank (Rs. 2000.00)</option>
                  <!-- <option value="3000">JIO Payment Bank (Rs. 3000.00)</option>
                  <option value="5000">HDFC Bank (Rs. 5000.00)</option>
                  <option value="2500">Yes Bank (Rs. 2500.00)</option> -->
                </select>
                <input type="hidden" name="bnk_name" class="bnk_nameVal">
              </div>

              <div class="form-row">
                <div class="form-group col-md-6" id="onboarding">
                  
                  <div class="money-back-guarantee hideclick">
                    <div class="check onboarding">
                      <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
                      </svg>
                    </div>
                     BCA On Boarding Fee- Rs. 2,000.00
                  </div>
                </div>
                <div class="form-group col-md-6 showclick" id="feildex">
                  <div class="money-back-guarantee">
                    <div class="check check_disable feildex">
                      <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
                      </svg>
                    </div>
                     For Feild Excutive
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="user-teams mb-4">
                  <!-- <div class="card-header border-bottom">
                    <span class="m-0">Choose Devices</span>
                    <a href="javascript:void(0);" class="text-right">
                      <span class="text-right showclick"> (Show)</span>
                    </a> 
                  </div> -->
                  <div class="card-body p-0 deviceMainDiv" style="min-height: 20.95rem;display: none;">
                    <div class="container-fluid">
                      <div class="row px-3 classactive_1">
                        <div class="col-md-6 user-teams__info pl-3 mb-1">
                          <h6 class="m-0 1_deviceName">MSF Member</h6>
                          <!-- <span class="text-light">This is the device which is very useful for our all works and its really less proce avaliable to the market. Dont miss. </span> -->
                        </div>
                        <!-- <div class="col-md-2 text-center mb-1">
                          <label for="">Quantity</label>
                          <input type="text" value="1" class="form-control col-md-6 text-center 1_quantity">
                        </div> -->
                        <div class="col-md-3 text-center mb-1">
                          <label for="">Amount <small>(in Rs.)</small></label>
                          <h6 class="1_amount">5,000.00</h6>
                        </div>

                        
                        <div class="col-md-3 text-right mb-1">
                          <input class="btn btn-success col-md-6 addBtnClk" alt="1" type="button" value="Add">
                        </div>
                      </div>
                      <div class="row px-3 classactive_2">
                        <div class="col-md-6 user-teams__info pl-3 mb-1">
                          <h6 class="m-0 2_deviceName">MSF Member's Family & Relative</h6>
                          <!-- <span class="text-light">This is the device which is very useful for our all works and its really less proce avaliable to the market. Dont miss. </span> -->
                        </div>
                        <!-- <div class="col-md-2 text-center mb-1">
                          <label for="">Quantity</label>
                          <input type="text" value="1" class="form-control col-md-6 text-center 2_quantity">
                        </div> -->
                        <div class="col-md-3 text-center mb-1">
                          <label for="">Amount <small>(in Rs.)</small></label>
                          <h6 class="2_amount">10,000.00</h6>
                        </div>

                        
                        <div class="col-md-3 text-right mb-1">
                          <input class="btn btn-success col-md-6 addBtnClk" alt="2"  type="button" value="Add">
                        </div>
                      </div>
                      <div class="row px-3 classactive_3">
                        <div class="col-md-6 user-teams__info pl-3 mb-1">
                          <h6 class="m-0 3_deviceName">Others</h6>
                          <!-- <span class="text-light">This is the device which is very useful for our all works and its really less proce avaliable to the market. Dont miss. </span> -->
                        </div>
                        <!-- <div class="col-md-2 text-center mb-1">
                          <label for="">Quantity</label>
                          <input type="text" value="1" class="form-control col-md-6 text-center 3_quantity">
                        </div> -->
                        <div class="col-md-3 text-center mb-1">
                          <label for="">Amount <small>(in Rs.)</small></label>
                          <h6 class="3_amount">20,000.00</h6>
                        </div>

                        
                        <div class="col-md-3 text-right mb-1">
                          <input class="btn btn-success col-md-6 addBtnClk" alt="3"  type="button" value="Add">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="ml-3">One Time Activation Fee</h5>
                  </div>
                  <hr>
                  <div class="col-md-6 col-sm-6 ml-3 text-left">
                    <span class="stats-small__label text-uppercase">Description</span>
                    <div class="text-semibold text-fiord-blue">One time registration free.</div>
                    
                  </div>
                  <div class="col-md-5 col-sm-5 ml-3 text-right">
                    <span class="stats-small__label text-uppercase">Amount (in RS.)</span>
                    <h6 cclass="text-semibold text-fiord-blue" id="fee">2000.00</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 text-left">
                    <span class="text-semibold text-fiord-blue">18% on the total cost</span>
                    <span class="stats-small__label text-uppercase">(GST)</span>
                  </div>
                  <div class="col-md-5 col-sm-5 text-right">
                    <h6 class="text-semibold text-fiord-blue gstCost"></h6>
                  </div>
                  
                  <div id="deviceIteamAdd" class="col-md-12"></div>
                  
                </div>
                <hr>
                <div class="row col-md-12">
                  <div class="col-md-6 col-sm-6 text-left">
                    <h5 class="text-semibold text-fiord-blue">Total</h5>
                  </div>
                  <div class="col-md-6 col-sm-5 ml-6 text-right">
                    <h5 class="text-semibold text-fiord-blue text-right grandTotalAmount">00.00</h5>
                  </div>
                </div>
                
              </div>
              <input type="hidden" name="regfee" id="regfeeval" value="2000">
              <hr>
              <div class="col-md-11 text-right mt-3">
                <button type="submit" class="mb-3 btn btn-primary" id="pa yment"><i class="material-icons">file_copy</i> Pay Now</button>
            </div> 
            </form>
          </div>
         
        </div>
        <!-- End Edit User Details Card -->
      </div>
    </div>
  </div>


  <script>
    $(document).ready(function () {
      $(".deviceMainDiv").hide();
      
      $(".showclick").click(function () {
        $(".deviceMainDiv").show('slow');
      });

      $(".hideclick").click(function () {
        $(".deviceMainDiv").hide('slow');
      });

      var totalRegFee = $("#regfeeval").val();
      var gst = 18;
      var gstCost = (parseFloat(totalRegFee) * parseInt(gst)) /100; 
      $(".gstCost").html(gstCost);
      $(".grandTotalAmount").text(parseFloat(totalRegFee) + parseFloat(gstCost));

      var actualDeviceAmount = {"1_amount" : 2860, "2_amount" : 2250, "3_amount" : 2110}
      var totaladdedDeviceAmnt  =0;

      $("#bank_name").change(function (){
        totalRegFee = $(this).val();
        $('#fee').html(totalRegFee+'.00');
        gstCost = (parseFloat(totalRegFee) * parseInt(gst)) /100; 
        
        $(".gstCost").html(gstCost);
        $(".grandTotalAmount").text(parseFloat(totalRegFee) + parseFloat(gstCost));
      });

      $(".addBtnClk").click(function () {
        var productID = $(this).attr("alt");
        var deviceName = $('.'+productID+'_deviceName').text();
        var deviceAmount = parseFloat($('.'+productID+'_amount').text()); // initial amount
        var deviceQuantity = parseInt($('.'+productID+'_quantity').val()); // initial quantity
        var totalAmount = parseFloat(deviceAmount * deviceQuantity)+'.00'; 
        if($(this).val() === 'Add'){
          if(deviceQuantity > 0){
            $(this).removeClass('btn-success');
            $(this).addClass('btn-danger');
            $(this).val('Remove');
            $('.'+productID+'_quantity').attr('readonly', true);
            $('.'+productID+'_amount').text(totalAmount);
            $('.classactive_'+productID).addClass('dev_added');
            //addeddDeviveAmount[productID+'_amount'] = totalAmount;
            var htmlContent = '<div class="col-md-6 col-sm-6 text-left" id="'+productID+'_one"><span class="text-semibold text-fiord-blue">'+deviceName+'</span><span class="stats-small__label text-uppercase">('+deviceQuantity+')</span></div><div id="'+productID+'_one-one" class="col-md-6 col-sm-6 text-right"><h6 cclass="text-semibold text-fiord-blue">'+totalAmount+'</h6></div>';

            $("#deviceIteamAdd").append(htmlContent);
            totaladdedDeviceAmnt = parseFloat(totaladdedDeviceAmnt)+ parseFloat(totalAmount);

            var data = {'quantity':deviceQuantity, 'device_id': productID};
            $.post({
                traditional: true,
                url: '/members/addDeviceTemp',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function(response){ 
                  if(response){
                    //alert(response);
                  }
                }
            });

          }else{
            // if try to add 0 item on add click.
            //alert(deviceAmount);
          }
        }else{
          // click on remove button ----
          $(this).addClass('btn-success');
          $(this).removeClass('btn-danger');
          $(this).val('Add');
          $('.'+productID+'_quantity').val('1');
          $('.'+productID+'_quantity').attr('readonly', false);
          $('.classactive_'+productID).removeClass('dev_added');
          for (var key in actualDeviceAmount) {
            if(productID+'_amount' === key){
              var value = actualDeviceAmount[key];
              $('.'+productID+'_amount').text(value+'.00');
            }
          }

          $('#'+productID+'_one').remove();
          $('#'+productID+'_one-one').remove();
          totaladdedDeviceAmnt = parseFloat(totaladdedDeviceAmnt)- parseFloat(totalAmount);

          var data = {'device_id': productID};
          $.post({
              traditional: true,
              url: '/members/remDeviceTemp',
              contentType: 'application/json',
              data: JSON.stringify(data),
              dataType: 'json',
              success: function(response){ 
                if(response){
                  //alert('rem-'+response);
                }
              }
          });
            }
        
           
        gstCost = ((parseFloat(totaladdedDeviceAmnt)+ parseFloat(totalRegFee)) * parseInt(gst)) /100; 
        grandTotalAmount = parseFloat(totaladdedDeviceAmnt)+ parseFloat(totalRegFee) + parseFloat(gstCost);
        
        $(".grandTotalAmount").text(Math.ceil(grandTotalAmount)+'.00');
        $(".gstCost").html(gstCost);
        alert(grandTotalAmount);







      });  

      $("#feildex").click(function(){
        $("#regfeeval").val('5000');
        $(".feildex").removeClass('check_disable');
        $(".onboarding").addClass('check_disable');
        
        totalRegFee = 5000;
        $('#fee').html(totalRegFee+'.00');
        gstCost = (parseFloat(totalRegFee) * parseInt(gst)) /100; 
        
        $(".gstCost").html(gstCost);
        $(".grandTotalAmount").text(parseFloat(totalRegFee) + parseFloat(gstCost));

      });
      
      $("#onboarding").click(function(){
        $("#regfeeval").val('2000');
        $(".feildex").addClass('check_disable');
        $(".onboarding").removeClass('check_disable');
        totalRegFee =2000;
        $('#fee').html(totalRegFee+'.00');
        gstCost = (parseFloat(totalRegFee) * parseInt(gst)) /100; 
       
        $(".gstCost").html(gstCost);
        $(".grandTotalAmount").text(parseFloat(totalRegFee) + parseFloat(gstCost));

      });


    });
  </script>

 <%- include('../layouts/footer') %> 