<%- include('../layouts/header') %>
<%- include('../layouts/leftmenu') %>
<%- include('./main') %>
    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <span class="text-uppercase page-subtitle">Marketing</span>
          <h3 class="page-title">Reports Overview</h3>
        </div>
      </div>
      <!-- End Page Header -->
      <!-- Small Stats Blocks -->
      <div class="row">
        
        <div class="col-lg col-md-4 col-sm-6 mb-4">
          <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
              <div class="d-flex flex-column m-auto">
                <div class="stats-small__data text-center">
                  <span class="stats-small__label text-uppercase">Field Excutive</span>
                  <a href="/admin/download" class="btn btn-success mb-2">Download</a>
                </div>
              </div>
              <canvas height="120" class="blog-overview-stats-small-4"></canvas>
            </div>
          </div>
        </div>

        <div class="col-lg col-md-6 col-sm-6 mb-4">
          <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
              <div class="d-flex flex-column m-auto">
                <div class="stats-small__data text-center">
                  <span class="stats-small__label text-uppercase">MS</span>
                  <a href="/admin/downloadbc" class="btn btn-success mb-2">Download</a>
                </div>
                
              </div>
              <canvas height="120" class="blog-overview-stats-small-2"></canvas>
            </div>
          </div>
        </div>
        
      </div>
      <!-- End Small Stats Blocks -->

    </div>
  </main>
        
<%- include('../layouts/footer') %>        