<style>
  .card-footer {
    padding: .3rem .7rem;
  }
</style>
      <!-- Main Sidebar -->
      <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
        <div class="main-navbar">
          <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
              <div class="d-table m-auto">
                <img id="main-logo" class="d-inline-block align-top mr-1 img-thumbnail" style="max-width: 50px;" src="../<%= user.profile_image %>" alt="Shards Dashboard">
                <span class="d-none d-md-inline ml-1"><%= user.fullname %></span>
              </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
              <i class="material-icons"></i>
            </a>
          </nav>
        </div>
        <!-- <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
          <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
          </div>
        </form> -->
        <div class="nav-wrapper" style="overflow-y: auto;">
          <h6 class="main-sidebar__nav-title">Dashboards</h6>
          <ul class="nav nav--no-borders flex-column">
            <li class="nav-item">
              <a class="nav-link " href="/members/dashboard">
                <i class="material-icons">view_module</i>
                <span>Dashboard</span>
              </a>
            </li>
         
          </ul>
          <h6 class="main-sidebar__nav-title">Account</h6>
          <ul class="nav nav--no-borders flex-column">
            <li class="nav-item dropdown">
              <a class="nav-link active" href="/members/profile" role="button">
                <i class="material-icons">view_module</i>
                <span>Update Profile</span>
              </a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link " href="/members/kyc-1" role="button">
                <i class="material-icons">view_module</i>
                <span>Update KYC</span>
              </a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link " href="/change-password" role="button">
                <i class="material-icons">view_module</i>
                <span>Change Password</span>
              </a>
            </li> -->
            <% if(user.user_type != "USER"){ %>
            <ul class="nav nav--no-borders flex-column">
              <li class="nav-item dropdown">
                <a class="nav-link active"  href="/members/ms-engagement-certificate" role="button">
                  <i class="material-icons">view_module</i>
                  <span>Engagement Certificate</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active"  href="/members/ms-engagement-letter" role="button">
                  <i class="material-icons">view_module</i>
                  <span>Engagement Letter</span>
                </a>
              </li>
            </ul>
            <% } %>
          </ul>
           
        </div>
      </aside>
      <!-- End Main Sidebar -->

      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white">
          <!-- Main Navbar -->
          <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
          
            <ul class="navbar-nav border-left flex-row ">
              
              <li class="nav-item dropdown">
               
                <!-- <div class="dropdown-menu dropdown-menu-small">
                  
                </div> -->
              </li>
              
            </ul>
           
            <nav class="nav w-100">
              <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                <i class="material-icons"></i>
              </a>
              <a class="dropdown-item text-danger mt-2 w-25 text-right" style="display: inline-block;float: right;position: absolute;right: 14px;top: -3px;" href="/logout">
                <i class="material-icons text-danger pt-2">&#xE879;</i> Logout </a>
            </nav>
            
          </nav>
        </div>